<form enctype= "multipart/form-data" method= "post">
	Enter Twitter Handle <input type= "text" name= "twitter_handle"/> <br/>
	<input type ="file" name= "file"/> <br/> 
	<input type= "submit">
	<br/> Note: If multiples, separate out with a comma.
</form>



 
